soapAuthClient/src/META-INF/wsdl/www.yenaura.com/ECEItemWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eceitem.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eceitem.me.org/" name="ECEItemWS">
<types>
<xsd:schema>
<xsd:import namespace="http://eceitem.me.org/" schemaLocation="https://www.yenaura.com:443/ECEItemWS?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getLastOrder">
<part name="parameters" element="tns:getLastOrder" />
</message>
<message name="getLastOrderResponse">
<part name="parameters" element="tns:getLastOrderResponse" />
</message>
<message name="getExamineInfo">
<part name="parameters" element="tns:getExamineInfo" />
</message>
<message name="getExamineInfoResponse">
<part name="parameters" element="tns:getExamineInfoResponse" />
</message>
<message name="getTakeInfo">
<part name="parameters" element="tns:getTakeInfo" />
</message>
<message name="getTakeInfoResponse">
<part name="parameters" element="tns:getTakeInfoResponse" />
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder" />
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse" />
</message>
<portType name="ECEItemWS">
<operation name="hello">
<input wsam:Action="http://eceitem.me.org/ECEItemWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://eceitem.me.org/ECEItemWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getLastOrder">
<input wsam:Action="http://eceitem.me.org/ECEItemWS/getLastOrderRequest" message="tns:getLastOrder" />
<output wsam:Action="http://eceitem.me.org/ECEItemWS/getLastOrderResponse" message="tns:getLastOrderResponse" />
</operation>
<operation name="getExamineInfo">
<input wsam:Action="http://eceitem.me.org/ECEItemWS/getExamineInfoRequest" message="tns:getExamineInfo" />
<output wsam:Action="http://eceitem.me.org/ECEItemWS/getExamineInfoResponse" message="tns:getExamineInfoResponse" />
</operation>
<operation name="getTakeInfo">
<input wsam:Action="http://eceitem.me.org/ECEItemWS/getTakeInfoRequest" message="tns:getTakeInfo" />
<output wsam:Action="http://eceitem.me.org/ECEItemWS/getTakeInfoResponse" message="tns:getTakeInfoResponse" />
</operation>
<operation name="getOrder">
<input wsam:Action="http://eceitem.me.org/ECEItemWS/getOrderRequest" message="tns:getOrder" />
<output wsam:Action="http://eceitem.me.org/ECEItemWS/getOrderResponse" message="tns:getOrderResponse" />
</operation>
</portType>
<binding name="ECEItemWSPortBinding" type="tns:ECEItemWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getExamineInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTakeInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ECEItemWS">
<port name="ECEItemWSPort" binding="tns:ECEItemWSPortBinding">
<soap:address location="https://www.yenaura.com:443/ECEItemWS" />
</port>
</service>
</definitions>